<h1>Listado de Articulos</h1>
 
<%= link_to 'Mi Blog', controller: 'articles' %>
<%= link_to 'Nuevo artículo', new_article_path %>

<table>
  <tr>
    <th>Titulo</th>
    <th>Texto</th>
    <th>Publicado</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= article.published %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article_path(article),
      method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
    </tr>
    <% end %>
</table>