<p>
  <strong>Titulo:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Texto:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Publicado:</strong>
  <%= @article.published %>
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Editar Articulo', edit_article_path(@article) %> |
<%= link_to 'Volver a articulos', articles_path %>